.banner {
  padding: 50px 0;
  background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url("https://hips.hearstapps.com/hmg-prod.s3.amazonaws.com/images/hbz-042517-oldhollywood-1493167401.jpg");
  h1 {
    color: $green;
  }
}